.header {
  padding: 31px 0 33px;
  // background-color: #f6f6f6;

  .header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;

    .nav {
      color: #807d7e;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  .header__btn {
    display: flex;
    align-items: center;
    gap: 12px;

    .btn-favorite,
    .btn-basket {
      border-radius: 8px;
      background: #f6f6f6;
      padding: 12px;
    }
  }
}
