.formik-wrapper {

    &__form {
        border : 1px solid #858585;
        border-radius: 6px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }

    &__field {
        margin-bottom: 20px;

        div {
            display: flex;
            flex-direction: column;
            align-items: start;

            label {
                font-family: Overpass;
                font-size: 12px;
                font-weight: 400;
                margin-bottom: 2px;
            }

            input {
                width: 100%;
                box-sizing: border-box;
                padding: 6px;
                outline: none;
                border: 1px solid #858585;
                border-radius: 6px;
                font-family: Overpass;
                font-size: 16px;
                line-height: 20px;
                font-weight: 400;
                background: antiquewhite;;
            }
        }
    }
    .formik-btn {
        background-color: #2bbd2b;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 15px;
    }

    .cart-page__total{
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
        margin-top: 30px;
    }

    &__error {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 400;
        color: #FF6347;
    }

}